DESeq_heat.R
FizzBuzz.py
README.md
__pycache__
chain.py
excel_tsv
fix_392_plates.py
ftp_cdiv.py
heatmap.r
isPrime.py
jig8.py
jig_patch.py
jupyterGG.ipynb
knapsack.py
lupus.ipynb
lupus.json
minkovski.py
new_wheel.py
norm01.r
nyctaxi.ipynb
pctBarHeader.r
personClass.py
pipe16S.ipynb
report_table.py
rf.ipynb
stdin2pdf.R
top_k_int.py
trailingZero.py
transpose.py
tsv_excel
twoDice.py
